<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
	<title></title>
</head>
<body>
	<form class="ui form" method='POST' action="{% url 'blog-login' %}">
		{% csrf_token %}
	  <div class="field">
	    <label>Username</label>
	    <input type="text" name="username" placeholder="Username">
	  </div>
	  <div class="field">
	    <label>Password</label>
	    <input type="password" name="password" placeholder="Password">
	  </div>
	 
	  <button class="ui button" type="submit">Login</button>
</form>
</body>
</html>